<ol>
  {{log 'model' model}}
  {{#each model.users.data as |user|}}
    <li>{{user.attributes.first-name}} {{user.attributes.last-name}} </li>
  {{/each}}
  {{todo-list
    todos=model.todos.data
  }}
</ol>